
		.Xauthority
        .bash_history
        .bash_logout
        .cache/
        .cargo/
        .config/.mono/
        .config/Code - OSS/
        .config/Electron/
        .config/GIMP/
        .config/QtProject.conf
        .config/Trolltech.conf
        .config/Unknown Organization/
        .config/cef_user_data/
        .config/chromium/
        .config/coc/
        .config/configstore/
        .config/dconf/
        .config/discord/
        .config/fontconfig/
        .config/gtk-2.0/
        .config/gtk-3.0/
        .config/gtkrc
        .config/gtkrc-2.0
        .config/htop/
        .config/libaccounts-glib/
        .config/libfm/
        .config/lutris/
        .config/menus/
        .config/mimeapps.list
        .config/nnn/
        .config/nvim/.netrwhist
        .config/nvim/plugged/
        .config/pcmanfm/
        .config/pulse/
        .config/session/
        .config/unity3d/
        .config/zoomus.conf
        .fehbg
        .gitconfig
        .gnome/
        .java/
	    .local/
        .m2/
        .mozilla/
        .node_repl_history
        .npm/
        .nv/
        .oh-my-zsh/
        .pki/
        .shell.pre-oh-my-zsh
        .ssh/
        .steam/
        .steampath
        .steampid
        .thumbnails/
        .vim/
        .viminfo
        .vscode-oss/
        .wine/
        .yarnrc
        .zcomp